@import url('https://fonts.cdnfonts.com/css/alfa-slab-one');

h2 {
    font-size: 40px;
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.quiz-container {
    border: grey solid 2px;
    background-color: #000000;
    font-family: 'Alfa Slab One', sans-serif;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 2px 10px grey;
    min-height: 400px;
    min-width: 300px;
    height: auto;
    width: 160px;
    padding: 10px;
    margin: 0 10px; /* Adjust margins */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Add scrollbars when content exceeds container height */
    position: relative; /* Add position relative */
}

.questions-container {
    border: grey solid 2px;
    background-color: #000000;
    font-family: 'Alfa Slab One', sans-serif;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 2px 10px grey;
    min-height: 400px;
    min-width: 300px;
    height: auto;
    width: 160px;
    padding: 10px;
    margin: 0 10px; /* Adjust margins */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Add scrollbars when content exceeds container height */
    position: relative; /* Add position relative */
}


#startButton {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 50px;
}


/* Style for the category and difficulty lists */
.category-header, .difficulty-header {
    font-weight: bold;
    color: rgb(185, 52, 52);
    font-size: 20px;
}

.category-list, .difficulty-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.category-list li, .difficulty-list li {
    margin: 10px 0;
} 

.hide {
    display: none;
}








