
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

.grid {
   
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 8em 1fr 4em;
}

.grid > div {
    margin: 0px;
}

.header, .footer {
    grid-column: 1 / 4;
}

.header {
    display: flex;
    justify-content: space-between; /* Aligns content at the start and end of the container */
    align-items: center; /* Aligns items vertically */
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0;
    padding: 20px; /* Add some padding for spacing */
    background-color: black;
}

#name {
    display: flex;
    justify-content: space-between; /* Aligns content at the start and end of the container */
    align-items: center; /* Aligns items vertically */
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    top: 0;
    padding: 10px; /* Add some padding for spacing */
    background-color: black;
    color: wheat;
}

nav ul {
    display: flex;
    flex-direction: row; /* Stacks list items in a row */
    justify-content: center; /* Centers list items vertically */
    align-items: center; /* Centers list items horizontally */
    list-style: none;
    margin: 10; /* Remove default margin for the ul */
    padding: 0; /* Remove default padding for the ul */
    
}

nav ul li {
    margin: 10px; /* Add margin between list items */
}

nav ul li a {
    text-decoration: none;
    color: wheat;
    font-size: large;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    background-color: black;
}

.fa-brands {
    color: white;
}
.fab {
    color: white;
}
